:host
{
  margin-top: 114px;
}

/* Header */

.header_image
{
  position: absolute;
  width: 602px;
  height: 800px;
  top: 0;
  right: 240px;
  z-index: -9999;

  object-fit: cover;
  border-radius: 0px 0px 0px 200px;
}

.header_content
{
  max-width: 688px;
  min-height: 590px;

  margin-top: 133px;
  margin-bottom: 112px;
}

.header_title
{
  margin-bottom: 16px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;

  color: #25292D;
}

.header_text
{
  max-width: 566.86px;

  margin-bottom: 42px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;

  color: #4A525A;
}

.button-filled
{
  background: #FDB100;
  border-radius: 16px;
  border-style: none;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

  min-height: 50px;
  min-width: 100px;

  color: #FFFFFF;
}

.button-filled:hover
{
  background: #e7a200;
}

.button-outlined
{
  border: 1px solid #FDB100;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: transparent;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

  text-align: center;

  color: #FDB100;

  min-height: 50px;
  min-width: 100px;
}

.button-outlined:hover
{
  background-color: #FDB100;
  color: #FFFFFF;
}

.buttons
{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */

  /* max-width: 530px; */
}

.add-recipe-btn
{
  width: 278px;
  height: 60px;

  margin-right: 24px;
}

.login-btn
{
  width: 216px;
  height: 60px;
}

.add-recipe-btn_inner
{
  display: flex;
  justify-content: space-around;
  margin: auto;

  max-width: 80%;
}

/* Sort by tags */

.smart-sort
{
  margin-bottom: 157px;
}

.smart-sort_title
{
  max-width: 811px;

  margin-bottom: 16px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 62px;

  color: #25292D;
}

.smart-sort_text
{
  max-width: 700px;

  margin-bottom: 47px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;

  color: #4A525A;
}

.categories-list
{
  display: flex;
  justify-content: space-between;
}

.category
{
  width: 278px;
  height: 271px;

  padding: 24px;
  box-sizing: border-box;

  background: #FFFFFF;
  box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
  border-radius: 24px;
}

.category_icon
{
  width: 50px;
  height: 50px;

  margin-bottom: 24px;

  background: #FFEFCC;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 12px;
}

.category_title
{
  margin-bottom: 16px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;

  color: #25292D;
}

.category_desc
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;

  color: #4A525A;
}

.icon_menu
{
  background-image: url('../../assets/icons/ic-menu.svg');
}

.icon_cook
{
  background-image: url('../../assets/icons/ic-cook.svg');
}

.icon_chef
{
  background-image: url('../../assets/icons/ic-chef.svg');
}

.icon_party
{
  background-image: url('../../assets/icons/ic-party.svg');
}

/* Recipe of the day */

.recipe-of-the-day
{
  margin-bottom: 150px;
}

.recipe-of-the-day_inner
{
  display: flex;
}

.recipe-of-the-day_content
{
  width: 100%;
}

.recipe-of-the-day_image
{
  width: 543px;
  height: 543px;

  margin-right: 72px;

  object-fit: cover;
  border-radius: 72px 0px;
}

.recipe-of-the-day_top-bar
{
  display: flex;
  justify-content: flex-end;

  margin-bottom: 23px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;

  color: #25292D;
}

.recipe-of-the-day_top-bar_icon 
{
  width: 24px;
  height: 24px;

  margin-right: 10px;
}

.info-element
{
  display: flex;
}

.likes_icon
{
  background-image: url('../../assets/icons/ic-favorite.svg');
}

.timer_icon
{
  background-image: url('../../assets/icons/ic-timer.svg');
}

.cooking-time
{
  margin-left: 27px;
}

.recipe-of-the-day_icon
{
  margin-bottom: 32px;
}

.recipe-of-the-day_title
{
  margin-bottom: 16px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 60px;

  text-transform: capitalize;

  color: #25292D;
}

.recipe-of-the-day_desc
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  
  font-feature-settings: 'case' on;

  color: #4A525A;
}

/* Search */

.recipe-search_title
{
  margin-bottom: 16px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  text-align: center;

  color: #25292D;
}

.recipe-search_desc
{
  margin-bottom: 64px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 32px;

  text-align: center;
  font-feature-settings: 'case' on;

  color: #4A525A;
}

.recipe-search
{
  max-width: 884px;
  margin: 0 auto;
}

.search-form
{
  display: flex;

  margin-bottom: 24px;
}

.search-field
{
  height: 73px;

  flex-grow: 4;

  padding-left: 32px;
  margin-right: 16px;

  background: #FFFFFF;
  box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
  border-radius: 16px;
  border-style: none;
  box-sizing: border-box;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;

  color: rgba(37, 41, 45, 0.5)
}

.search-field:focus
{
  outline: none;
}

.search-btn
{
  height: 73px;

  flex-grow: 1;

  justify-content: center;

  background: #FDB100;
  border-radius: 16px;
  border-style: none;
  box-sizing: border-box;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #FFFFFF;
}

.search-btn:hover
{
  background-color: #e7a200;
}

.tag
{
  margin-right: 15px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  color: #808080;
}

.tag:hover
{
  color: #535353;
  text-decoration: underline;
}