<div class="page-header">
  <h1 class="page-header_title">
    Добавить новый рецепт
  </h1>
  <div class="page-header_buttons">
    <button class="button-filled page-header_main-button" (click)="onSubmit()">
      Опубликовать
    </button>
  </div>
</div>

<div class="recipe-blank">
  <div class="recipe-blank_pic-upload">
    <div class="upload-area">
      <object class="upload-area_icon" data="../../assets/icons/ic-upload.svg" type="image/svg+xml"></object>
      <div class="upload-area_text">Загрузите фото готового блюда</div>
    </div>
  </div>

  <div class="recipe-blank-right">
    <div class="recipe-form">
      <input class="title-field blank-field" [required]="true" 
        placeholder="Название рецепта">
      <textarea class="desc-field blank-field" [required]="true"
        placeholder="Краткое описание рецепта (150 символов)"></textarea>

      <div class="tag-field blank-field">
        <mat-chip-list class="tag-list" #tagList>
          <mat-chip class="tag" *ngFor="let tag of tags" title="{{tag}}"
            (removed)="removeTag(tag)">
            <span class="ellipsis-text">{{ tag }}</span>
            <mat-icon class="remove-tag-icon" matChipRemove>cancel</mat-icon>
          </mat-chip>         
        </mat-chip-list>
        <input class="tag-input" placeholder="Добавить теги" [maxLength]="20"
                 [matChipInputFor]="tagList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="addTag($event)">
      </div>

      <div class="info-wrapper">
        <mat-form-field class="time-field" appearance="outline">
          <mat-select [(value)]="selectedTime" placeholder="Выберите время">
            <mat-option *ngFor="let option of timeOptions" value="{{ option.value }}">
              {{ option.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <div class="time-field blank-field"> 
          <input class="time-input" type="text" placeholder="Время готовки">
          <select class="time-input" [(ngModel)]="selectedTime">
            <option *ngFor="let option of timeOptions" [ngValue]="option.value">
              {{ option.viewValue }}
            </option>
          </select>
        </div> -->
        <!-- <ng-select class="custom">
          <ng-option *ngFor="let option of timeOptions">{{ option.viewValue }}</ng-option>
        </ng-select> -->
      </div>
    </div>
  </div>
</div>

<div class="steps-and-ingredients">
  <div>
    <div class="ingredients-title">
      Ингридиенты
    </div>
    <div class="ingredients-container">
      <app-ingredients-blank class="ingredient-blank"
        *ngFor="let ingredient of ingredients"
        (remove)="removeIngredientsCategory($event)"
        [ingredient]="ingredient"
        [removable]="ingredients.length > 1"></app-ingredients-blank>
    </div>
    <button class="button-outlined add-blank" (click)="addIngredientsCategory()">
      <object class="add-icon" data="../../assets/icons/plus.svg" type="image/svg+xml"></object>
      Добавить заголовок
    </button>
  </div>

  <div class="steps-container">
    <div class="step" *ngFor="let step of steps; let i=index; trackBy:trackByIndex">
      <div class="step-top">
        <div class="step-index">
          Шаг {{ i+1 }}
        </div>
        <button class="remove-btn" *ngIf="stepsRemovable" (click)="removeStep(step)"></button>
      </div>
      <textarea [(ngModel)]="steps[i]" class="step-desc" placeholder="Описание шага"></textarea>
    </div>
    <div class="add-wrapper">
      <button class="button-outlined add-blank" (click)="addStep()">
        <object class="add-icon" data="../../assets/icons/plus.svg" type="image/svg+xml"></object>
        Добавить заголовок
      </button>
    </div>   
  </div>
</div>