:host
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin-top: 40px;
  margin-bottom: 49px;
}

.header_title
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #FDB100;

  text-decoration: none;
}

.header_left
{
  display: flex;
  justify-content: space-between;
  width: 43.6%;
}

.nav-bar
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 344px;
}

.nav-bar_link
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  text-decoration: none;

  color: #9196A1;
}

.nav-bar_link:hover
{
  color: #3A3C41;
}

.nav-bar__active
{
  font-weight: 600;

  color: #3A3C41;
}

.login-container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 112px;
}

.login-container_icon
{
  width: 38px;
  height: 38px;

  border-radius: 50%;
  background: no-repeat center url('../../assets/icons/ic-login.svg') #FDB100;
}

.login-container_login
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  text-decoration: none;

  color: #FDB100;
}

.login-container_login:hover
{
  color: #e7a200;
}